---
extension: html
filter:   erb
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  	
    <title><%= @page.title %></title>
    <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/railscasts.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <header>
      <h1><a rel="index" href="/">Be Genius</a></h1>
      <aside>code and thoughts of <b>Bodaniel Jeanes</b></aside>
      <a href="http://github.com/bjeanes">
        <img src="/images/forkme.png" alt="Fork Me" />
      </a>
      
      <nav>
        <ul>
          <%- @pages.find(:all, :sort_by => 'created_at').each do |p| -%>
            <li><a href="<%= p.url %>"<%= ' rel="current"' if @page == p %>><%= p.title %></a></li>
          <%- end -%>
        </ul>
      </nav>
    </header>
    
    <details>
      <img src="/images/mug.jpg" width="73" height="73" alt="Mugshot" />
      <p>Hi, I'm Bodaniel Jeanes</p>
      <p>I'm a Ruby developer from Brisbane, Australia</p>
      <p>You can find:</p>
      <ul>
        <li>My code <a href="http://github.com/bjeanes">on GitHub</a></li>
        <li>My music <a href="http://www.last.fm/user/bjeanes">on Last.FM</a></li>
        <li>My thoughts <a href="http://twitter.com/bjeanes">on Twitter</a></li>
        <li>My links <a href="http://twitter.com/bjeanes">on Delicious</a></li>
      </ul>
    </details>

    <article>
      <aside>
        <time datetime="2009-06-21T12:00:00+01:00">
          <a rel="bookmark" href="#">
        		<abbr title="June">Jun</abbr> 21<sup>st</sup> <abbr>'09</abbr>
        		<sub>12:00 pm</sub>
        	</a>
        </time>
      </aside>
      
      <h1><%= @page.title %></h1>
      
      <section>
        <%= @content %>
      </section>
      
      <footer>tagged with: x, y, and z</footer>
    </article>
    
    <footer>&copy; Copyright 2009 Bodaniel Jeanes. All Rights Reserved. </footer>
  </body>
</html>
