---
extension: html
filter:   erb
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  	
    <title><%= @page.title %></title>
    <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/railscasts.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <header>
      <h1><a rel="index" href="/">Be Genius</a></h1>
      <aside>code and thoughts of <b>Bodaniel Jeanes</b></aside>
      
      <nav>
        <ul>
          <%- @pages.find(:all, :sort_by => 'created_at').each do |p| -%>
            <li><a href="<%= p.url %>"<%= ' rel="current"' if @page == p %>><%= p.title %></a></li>
          <%- end -%>
        </ul>
      </nav>
    </header>

    <article>
      <aside>
        <time datetime="2009-06-21">
          21 June 2009
        </time>
      </aside>
      
      <h1><%= @page.title %></h1>
      
      <section>
        <%= @content %>
      </section>
      
      <footer>tagged with: x, y, and z</footer>
    </article>
    
    <footer>&copy; Copyright 2009 Bodaniel Jeanes. All Rights Reserved. </footer>
  </body>
</html>
