---
extension: css
filter:    erb
layout:    nil   # no layout
---

html, body,
header, footer,
article, section,
aside, nav, a,
ul, li, h1, h2, 
h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

header, footer,
article, section,
aside, nav {
  display: block;
}

abbr { border-bottom: none; }
body {
  font-family: Verdana, sans-serif;
  background: #fff url(/images/background.png) repeat scroll 0 0;
}


body > header {
  position: relative;
  height: 150px;
  border:1px solid transparent; /* weird webkit bug hack */
  background: transparent url(/images/header.png) repeat-x scroll 0 0;
}
  body > header > * {
    position: absolute;
  }

  body > header > h1 {
    background: transparent url(/images/title.png) no-repeat;
    text-indent: -9001px;
    display: block;
    width: 189px;
    height: 52px;
    left: 3em;
    top: 20px;
  }
  
    body > header > h1 a {
      display:block;
      width:189px;
      height:52px;
      z-index: 100;
    }
  
  body > header aside {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    z-index: 1;
    top: 60px;
    left: 3em;
    padding-left: 135px;
    color: #606060;
  }
  
    body > header aside abbr {
      color: #262626;
    }
  
  body > header nav { 
    left: 6em;
    top: 106px;
  }

  body > header nav li {
    list-style: none;
    display: inline-block;
    float:left;
  }
  
  body > header nav li a {
    z-index: 10;
    margin-top: 1px;
    position:relative;
    display:block;  
    text-decoration: none;
    color:#404040;
    height: 25px;
    line-height: 25px;
    padding: 0 1.5em 0 1.5em;
    text-shadow: 0 1px 1px #D2D2D2;
    border: 1px solid #666;
    border-top: none;
    margin-right:-1px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
  }

  body > header nav li a:hover {
    background-color: #999;
    z-index: 50;
  }
  
  body > header nav li a[rel~=current] {
    z-index: 100;
    margin-top: 0;
    background-color: #b4b4b4;
    background-image: url(/images/button.png);
    background-repeat: repeat-x;
    border: 1px solid black;
    border-top: none;
    height: 26px;
    line-height: 26px;
    color: #000;
    text-shadow: none;
  }
  
body > article,
body > footer {
  margin-left:6em;
  width: 700px;
  margin-bottom: 2em;
}
  
body > footer {
  background: rgba(70,70,70,0.3);
  text-align:center;
  margin-top:20px;
  border: 1px solid rgba(20,20,20,0.8);
  padding:1em;
}