---
extension: css
filter:    erb
layout:    nil   # no layout
---
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

html, body,
header, footer,
article, section,
aside, nav, a,
ul, li, h1, h2, 
h3, h4, h5, h6,
code, pre {
  padding: 0;
  margin: 0;
}

header, footer,
article, section,
aside, nav {
  display: block;
}

abbr { border-bottom: none; }

body {
  font-family: Verdana, sans-serif;
  background: #CECECE url(/images/background.png) repeat scroll 0 0;
}

body > header {
  position: relative;
  height: 150px;
  border:1px solid transparent; /* weird webkit bug hack */
  background: transparent url(/images/header.png) repeat-x scroll 0 0;
}
  body > header > * {
    position: absolute;
  }

  body > header > h1 {
    background: transparent url(/images/title.png) no-repeat;
    text-indent: -9001px;
    display: block;
    width: 189px;
    height: 52px;
    left: 100px;
    top: 20px;
  }
  
    body > header > h1 a {
      display:block;
      width:189px;
      height:52px;
      z-index: 100;
    }
  
  body > header aside {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    z-index: 1;
    top: 60px;
    left: 3em;
    padding-left: 135px;
    color: #606060;
  }
  
    body > header aside b {
      font-weight: normal;
      color: #262626;
    }
  
  body > header nav {
    font-family: "Lucida Grande";
    font-size: 0.8em;
    left: 100px;
    top: 106px;
  }

  body > header nav li {
    list-style: none;
    display: inline-block;
    float:left;
  }
  
  body > header nav li a {
    z-index: 10;
    margin-top: 1px;
    position:relative;
    display:block;  
    text-decoration: none;
    color:#292929;
    height: 25px;
    line-height: 25px;
    padding: 0 1.5em 0 1.5em;
    text-shadow: 0 1px 1px #D2D2D2;
    border: 1px solid #585858;
    border-top: none;
    margin-right:-1px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  body > header nav li a:hover {
    background-color: #999;
    z-index: 50;
  }
  
  body > header nav li a[rel~=current] {
    z-index: 100;
    margin-top: 0;
/*    background-color: #b4b4b4;
    background-image: url(/images/button.png);
    background-repeat: repeat-x;*/
    background-color:#b8b8b8;
    border: 1px solid black;
    border-top: none;
    height: 26px;
    line-height: 26px;
    color: #000;
    text-shadow: none;
  }
  
body > article {
  position: relative;
  text-align:justify;
  background-color: rgba(246, 244, 243, 0.6);
  /* This is awesome but doesn't look good in main article text: */
/*  -moz-column-count: 2;
  -moz-column-gap: 1em;
  -moz-column-rule: 1px solid #787878;
  -webkit-column-count: 2;
  -webkit-column-gap: 1em;
  -webkit-column-rule: 1px solid #787878;*/
}

  body > article > aside {
    position: absolute;
    width: 70px;
    height: 70px;
    left: -71px;
    top: -1px;
    color: white;
    background-color: #5c2a0d;
  }
  
  body > article > h1 {
    margin-bottom: 40px;
  }

  body > article h1,
  body > article h2,
  body > article h3,
  body > article h4,
  body > article h5,
  body > article h6 {
    color: #5c2a0d;
  }
  
  body > article blockquote {
    border-left: 2px dotted #541B07;
    padding-left: 1em;
  }
  
  body > article table {
    table-layout:fixed;
    margin-left: -52px;
    width: 630px;
      z-index:1000;
      position: relative;
  }
    
    body > article table pre {
      font-family: 'Monaco';
      font-size: 85%;
      line-height: 1.6em;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    
    body > article table th pre {
      background-color: #2E2E2E;
      color: #B6B6B6;
      padding-right: 5px;
    }
    
    body > article table td {
      width: 598px;
    }
    
    body > article table td pre {
      padding-left: 20px;
      overflow-x: auto;
    }

body > article,
body > footer {
  font-family: "Lucida Grande";
  margin-left:100px;
  width: 600px;
  margin-bottom: 2em;
  padding: 20px;
  line-height:1.6em;
  border: 1px solid #5F5F5F;
  font-size: 85%;
  color:#1C1C1C;
}
  
body > footer {
  background: rgba(70,70,70,0.3);
  text-align:center;
  border: 1px solid rgba(20,20,20,0.8);
}